<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum.service.statistics.mapper.RequestCountMapper">

    <select id="selectByDate" resultType="com.example.forum.service.statistics.repository.entity.RequestCountDO">
        SELECT * FROM request_count
        WHERE DATE(create_time) = DATE(#{date})
        LIMIT 1
    </select>

</mapper>
