<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>文章详情 - 论坛</title>
    <link rel="stylesheet" href="/css/three/bootstrap.min.css">
    <link rel="stylesheet" href="/css/common.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
                <h2 th:text="${article.title}"></h2>
                <div class="text-muted mb-4">
                    <span>发布时间：[[${article.createTime}]]</span>
                    <span class="ml-4">浏览：[[${article.readCount}]]</span>
                    <span class="ml-4">评论：[[${article.commentCount}]]</span>
                    <span class="ml-4">点赞：[[${article.likeCount}]]</span>
                </div>
                <div th:utext="${article.content}"></div>
                <div class="mt-4">
                    <a th:href="@{/article/edit/{id}(id=${article.id})}" class="btn btn-primary">编辑文章</a>
                    <a href="/article/list" class="btn btn-secondary ml-2">返回列表</a>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        <h4>相关推荐</h4>
                    </div>
                    <div class="card-body">
                        <ul class="list-group">
                            <li class="list-group-item">
                                <a href="#">推荐文章1</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">推荐文章2</a>
                            </li>
                            <li class="list-group-item">
                                <a href="#">推荐文章3</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</body>
</html>